src/main/resources/xsd/Account.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Accounts">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="Account">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="userName" type="xs:string" />
                            <xs:element name="password" type="xs:string" />
                            <xs:element name="phoneNumber" type="xs:unsignedInt" />
                            <xs:element name="isAdmin" type="xs:unsignedByte" />
                        </xs:sequence>
                        <xs:attribute name="ID" type="xs:unsignedByte" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>