src/main/resources/xsd/Category.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Categories">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="Category">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="cateName" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="ID" type="xs:unsignedByte" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>