src/main/resources/xsd/Favorite.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Favorites">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="Favorite">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="productId" type="xs:unsignedByte" />
                            <xs:element name="accountId" type="xs:unsignedByte" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>