src/main/resources/xsd/Order.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Orders">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="Order">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="accountID" type="xs:unsignedByte" />
                            <xs:element name="orderDate" type="xs:date" />
                            <xs:element name="totalPrice" type="xs:unsignedShort" />
                            <xs:element minOccurs="0" name="note" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="ID" type="xs:unsignedByte" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>