src/main/resources/xsd/OrderDetail.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Order_details">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="Order_detail">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="orderID" type="xs:unsignedByte" />
                            <xs:element name="productID" type="xs:unsignedByte" />
                            <xs:element name="subPrice" type="xs:unsignedShort" />
                            <xs:element name="quantity" type="xs:unsignedByte" />
                        </xs:sequence>
                        <xs:attribute name="ID" type="xs:unsignedByte" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>