src/main/resources/xsd/Product.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Products">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="Product">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:string" />
                            <xs:element name="amount" type="xs:unsignedByte" />
                            <xs:element name="price" type="xs:unsignedByte" />
                            <xs:element name="image" type="xs:string" />
                            <xs:element name="description" type="xs:string" />
                            <xs:element name="categoryId" type="xs:unsignedByte" />
                            <xs:element minOccurs="0" name="author" type="xs:string" />
                            <xs:element minOccurs="0" name="publisher" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="ID" type="xs:unsignedByte" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>